extends layout

block content
  h1= title

  div(ng-controller='tabsCtrl')
    ul.nav.nav-pills
      li(ng-repeat='tab in tabs' ng-class='{active: pub.isTab(tab), disabled: !pub.credsValid()}' ng-click='pub.setTab(tab)')
        a {{ tab }}


  div(ng-controller='credsCtrl' ng-show='pub.isTab("Credentials")' ng-cloak)
    .row
      .col-xs-11
        form.form-horizontal(role='form')
          h3 Hummingbird.me 
          .form-group.form-group-lg
            .col-xs-12.col-md-6(ng-class='{"has-error": !(credValid(hb) || hb.user)}')
              input.form-control(type='text' placeholder='Username' ng-model='hb.user')
            .col-xs-12.col-md-6(ng-class='{"has-error": !(credValid(hb) || hb.pass)}')
              input.form-control(type='password' placeholder='Password' ng-model='hb.pass')
        .text-center: h2 AND/OR
        form.form-horizontal(role='form')
          h3 MyAnimeList
          .form-group.form-group-lg
            .col-xs-12.col-md-6(ng-class='{"has-error": !(credValid(mal) || mal.user)}')
              input.form-control(type='text' placeholder='Username' ng-model='mal.user')
            .col-xs-12.col-md-6(ng-class='{"has-error": !(credValid(mal) || mal.pass)}')
              input.form-control(type='password' placeholder='Password' ng-model='mal.pass')
      .col-xs-1
        a.glyphicon.glyphicon-chevron-right.next(
        ng-show='pub.credsValid()' ng-click='pub.setTab("Select Episodes")')


  div(ng-controller='entriesCtrl' ng-show='pub.isTab("Select Episodes")' ng-cloak)
    .row
      .col-xs-12.col-md-6
        desu-box(on-drop='addFiles(files)') Drag and drop
      .col-xs-12.col-md-6
        .form-group
          label Classic upload
          desu-select(on-select='addFiles(files)')
        .form-group
          label Manual entry
          form(role='form' ng-submit='manualAdd()')
            .row
              .col-xs-12.col-md-7
                input.form-control(type='text' required placeholder='Anime name' ng-model='manualName')
              .col-xs-6.col-md-3
                input.form-control(type='number' min='0' placeholder='Episode' ng-model='manualEp')
              .col-xs-6.col-md-2
                button.btn.btn-primary.btn-block(type='submit') Add

    ul.list-unstyled
      li(ng-repeat='entry in entries')
        .checkbox
          label
            input(type='checkbox' ng-model='entry.checked')
            | {{ entry.name }} / {{ entry.ep }}
    .controls(ng-show='entries.length')
      .checkbox
        label
          input(type='checkbox' ng-model='selectAll')
          | Select All
      .btn-group.btn-group-justified.btn-group-lg
        .btn-group.btn-group-lg
          a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown')
            | Update {{ count() }}/{{ entries.length }} 
            span.caret
          ul.dropdown-menu(role='menu')
            li(ng-show='pub.credFilled(pub.getHb()) && pub.credFilled(pub.getMal())'): a All
            li(ng-show='pub.credFilled(pub.getHb())'): a Hummingbird.me
            li(ng-show='pub.credFilled(pub.getMal())'): a MyAnimeList
        a.btn.btn-danger(ng-click='removeAll()') Clear all

