extends layout

block content
  h1= title
  div.row(ng-controller='desuSyncCtrl')
    .col-xs-6
      desu-box(on-drop='addFiles(files)')
        label Drag and drop
      .form-group
        label Classic upload
        desu-select(on-select='addFiles(files)')
      .form-group
        label Manual entry
        form(ng-submit='manualAdd()')
          .row
            .col-xs-7
              input.form-control(type='text' placeholder='Anime name' ng-model='manualName')
            .col-xs-3
              input.form-control(type='number' placeholder='Episode' ng-model='manualEp')
            .col-xs-2
              button.btn.btn-primary(type='submit') Submit

    .col-xs-6
      ul
        li(ng-repeat='entry in entries')
          .checkbox
            label
              input(type='checkbox' ng-model='entry.checked')
              button.btn.btn-danger(ng-click='remove(entry)') Remove
              | {{ entry.name }}
      .controls(ng-show='entries.length')
        .row
          .col-xs-6
            | {{ count() }}/{{ entries.length }} selected
          .col-xs-6
            label
              input(type='checkbox' ng-model='selectAll')
              | Select All
        .row
          .col-xs-4
            button.btn.btn-md.btn-block.btn-primary(onclick='alert("We\'re not done!")') Update lists!
          .col-xs-4
            button.btn.btn-md.btn-block.btn-warning(ng-click='removeCheck(false)') Remove deselected
          .col-xs-4
            button.btn.btn-md.btn-block.btn-danger(ng-click='removeAll()') Clear entries