extends layout

block content
  h1= title
  div.row(ng-controller='desuSyncCtrl')
    .col-xs-6
      desu-box(on-drop='addFiles(files)') Drag and drop
      .form-group
        label Classic upload
        desu-select(on-select='addFiles(files)')
      .form-group
        label Manual entry
        form(ng-submit='manualAdd()')
          .row
            .col-xs-7
              input.form-control(type='text' placeholder='Anime name' ng-model='manualName')
            .col-xs-3
              input.form-control(type='number' placeholder='Episode' ng-model='manualEp')
            .col-xs-2
              button.btn.btn-primary(type='submit') Add

    .col-xs-6.ng-cloak
      ul
        li(ng-repeat='entry in entries')
          .checkbox
            label
              input(type='checkbox' ng-model='entry.checked')
              | {{ entry.name }}
      .controls(ng-show='entries.length')
        .checkbox
          label
            input(type='checkbox' ng-model='selectAll')
            | Select All
        .row
          .col-xs-6
            button.btn.btn-md.btn-block.btn-primary(onclick='alert("We\'re not done!")')
              | Update {{ count() }}/{{ entries.length }}
          .col-lg-6
            button.btn.btn-md.btn-block.btn-danger(ng-click='removeAll()') Clear all