body, html, .container
    height 100%

input.ng-dirty
    &.ng-valid
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #3c763d;
    &.ng-invalid
        color: #a94442;
        background-color: #f2dede;
        border-color: #a94442;