desu-box {
  border: 10px dashed #ccc;
  margin: 20px 0 20px 0;
  padding: 20px;
  display: block;
  text-align: center;
  font-size: 2rem;
}
desu-box.hover {
  border: 10px dashed #333;
}
desu-select {
  font-size: 1.25rem;
}
