desu-box {
  border: 10px dashed #ccc;
  height: 500px;
  margin: 20px;
  padding: 20px;
  display: block;
  text-align: center;
  font-size: 2rem;
}
desu-box.hover {
  border: 10px dashed #333;
}
desu-box .text {
  margin-top: 40%;
}
