a
  cursor pointer
    
desu-box
  border 10px dashed #ccc
  margin 20px 0 20px 0
  padding 20px
  display block

  text-align center
  font-size 2rem

  &.hover
    border 10px dashed #333

desu-select
  font-size 1.25rem

.glyphicon.glyphicon-chevron-right.next
  margin-top 13rem
  font-size 5rem